In [1]:
import pandas as pd
import numpy  as np

## Reading the dataset from the .csv file

In [2]:
df = pd.read_csv('energy_dataset.csv', parse_dates=['time'])

## Droping un-needed columns

In [3]:
columns_required  = ['time', 'generation biomass', 'generation hydro water reservoir',  'generation fossil hard coal', 'generation nuclear', 'generation solar']
df = df[columns_required]

## Making the 'time' column as index

In [4]:
df['time'] = pd.to_datetime(df['time'], utc=True, infer_datetime_format=True)
df.set_index('time', inplace=True)

## Now that the dataset in required format, we will start cleaning the data

In [5]:
print(
        f'Number of missing values in our dataset: {df.isnull().values.sum()}'
)

Number of missing values in our dataset: 90

## As, there are a lot of missing values in the dataset, will check which column has how many missing values

In [6]:
df.isnull().sum(axis=0)

generation biomass                  19
generation hydro water reservoir    18
generation fossil hard coal         18
generation nuclear                  17
generation solar                    18
dtype: int64

## The similar numbers indicate that the missing values for every column are actually entire missing rows. Lets test this hypothesis. We will plot every row that contains atleast one missing value

In [7]:
df[df.isnull().any(axis=1)]

,generation biomass,generation hydro water reservoir,generation fossil hard coal,generation nuclear,generation solar
time,,,,,
2015-01-05 02:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-05 11:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-05 12:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-05 13:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-05 14:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-05 15:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-05 16:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-19 18:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-19 19:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-27 18:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-01-28 12:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-04-16 07:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-04-23 19:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-06-15 07:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-10-02 09:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2015-12-02 08:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2016-07-09 20:00:00+00:00,NaN,NaN,NaN,6923.0,NaN
2016-11-23 03:00:00+00:00,NaN,435.0,4547.0,5040.0,15.0
2018-07-11 07:00:00+00:00,NaN,NaN,NaN,NaN,NaN

## We can see here that our hypothesis is correct, now we have to find a way to handle these missing values.
## We can do the following:
<ul style="font-size:20px">
  <li>We can fill these missing values with average values of the coulmn</li>
  <li>We can just drop these entire rows</li>
  <li>We can find a better way of filling them/li>
</ul>

## The first method of filling entire rows with averages will not generate meaningful data, but will only crerate outliers. The second way will create a discrepency in the time differences of the dataset. We can fill the missing values using time-based interpolation which pandas already provides us.

In [8]:
df.interpolate(method='time', limit_direction='forward', inplace=True, axis=0)

## Lets check for missing values in the dataset now

In [9]:
df.isnull().sum(axis=0)

generation biomass                  0
generation hydro water reservoir    0
generation fossil hard coal         0
generation nuclear                  0
generation solar                    0
dtype: int64

In [10]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [generation biomass, generation hydro water reservoir, generation fossil hard coal, generation nuclear, generation solar]
Index: []

## As it can be seen above, the dataset is clean and now it can be saved.

In [11]:
df.to_csv('energy_dataset_cleaned.csv', index_label='time')